<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/platform.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/platform.%d{yyyy-MM-dd-HH}.log
			</fileNamePattern>
			<maxHistory>36</maxHistory>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
		<encoder>
			<charset>UTF-8</charset>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="file" />
	</root>
</configuration> 